@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-primary: 45 60 150;
    --color-secondary: 111 114 185;
    --color-accent: 255 88 37;
    --color-text-primary: 255 255 255;
    --color-text-accent: 255 88 37;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
